<!-- <table class="table table-striped" *ngFor="let actor of data">
  <thead>
    <tr>
      
      <th scope="col" >Usuarios</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col">Rol</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      

      <td routerLink="">{{actor.name}}</td>
      <td routerLink="">{{actor.surname}}</td>
      <td routerLink="">{{actor.email}}</td>
      <td routerLink="">{{actor.role}}</td>

    </tr>
    
  </tbody>
</table> -->
<!-- <!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>

-->

<table  class="table table-striped" > 
    <tr> <th>{{'actor.name'|translate}}</th> 
    <th>{{'actor.surname'|translate}}</th> 
    <th>{{'actor.email'|translate}}</th> 
    <th>{{'actor.phone'|translate}}</th>
    <th>{{'actor.address'|translate}}</th>
    <th>{{'actor.role'|translate}}</th> 
     
  </tr > <tr *ngFor="let actor of data">
    
     <td >{{actor.name}}</td> 
     <td>{{actor.surname}}</td>
     <td>{{actor.email}}</td>
     <td>{{actor.phone}}</td>
     <td>{{actor.address}}</td>
     <td>{{actor.role}}</td>
     
       </tr> </table>