<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="card-columns">
  <div class="card mb-3" *ngFor="let trip of data">
    <div class="card-img">
      <img class="card-img-top" src={{trip.picture}} alt="Card image cap">
      
        <h4 routerLink="/trips/TripDisplay/{{trip.id}}" 
        class="btn-card">Ver detalles</h4>
      
    </div>
    <div class="card-body">
      <h5 class="card-title">{{trip.title}}</h5>
      <p class="card-text">
        <p class="card-text">{{trip.description}}</p>
    </div>
  </div>