.footer-distributed{
    background-color: dimgrey;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align:left;
    color: white;
    
    padding: 55px 50px;
    margin-top: 350px;
}
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
    
    
    
    
}