<table class="table table-striped" >
    <thead>
      <tr>
       
        <th scope="col" >Lugar a visitar</th>
        <th scope="col">Estado solicitud</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of data">
        
        <td routerLink="/applications/ApplicationDisplay/{{application.id}}">{{application.tripname}}</td>
        <td routerLink="/applications/ApplicationDisplay/{{application.id}}">{{application.status}}</td>
        <a routerLink="/Checkout">
          <button type="button" class="btn-card">Checkout</button>
        </a> 
        
      </tr>
      
    </tbody>
  </table>