<table class="table table-striped" *ngFor="let application of data">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" >Lugar a visitar</th>
        <th scope="col">Estado solicitud</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>

        <td routerLink="/applications/ApplicationDisplay/{{application.id}}">{{application.tripname}}</td>
        <td routerLink="/applications/ApplicationDisplay/{{application.id}}">{{application.status}}</td>
        
      </tr>
      
    </tbody>
  </table>